---
import Container from "./Container.astro";
import Menu from "./Menu.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

const menu = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "About",
    href: "/about",
  },
  {
    label: "Blog",
    href: "/blog",
  },
];
---

<header class="header">
  <Container>
    <div class="header-container">
      <a class="title" href="/">{title}</a>
      <Menu items={menu} supportMobile />
    </div>
  </Container>
</header>
<style>
  .header {
    background-color: var(--color-accent);
    padding: 0.5rem 1rem;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .title {
    font-weight: bold;
    color: inherit;
  }
  .title:hover {
    text-decoration: none;
  }
</style>
