---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Home"
  description="The ACME App is the premier app for all your needs. We do it all!"
>
  <div>Hello, world!</div>
</BaseLayout>
